:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #AE7AFF;
  --grey-color: #5F646D;
  --hover-color: #161616;
}

body {
  background-color: var(--dark-color);
  background-image: url(/assets/images/background.png);
  margin: 0;
  padding: 0;
}
p, span , h1, h2, h3, h4, h5, h6, label {
  color: var(--light-color);
  margin: 0;
  padding: 0;
  font-family: JetBrains Mono, monospace;
}
label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
a {
  text-decoration: none;
  font-family: JetBrains Mono, monospace;
}
h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
}
button {
  font-family: JetBrains Mono, monospace;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  border: 1px solid var(--dark-color);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--dark-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 100%;
    height: 100%;
    background-color: var(--grey-color);
    border-radius: 4px;
    z-index: -1;
    transition: all 0.3s;
  }
  &:hover:before {
    background-color: transparent;
  }
  &:active {
    transform: translateY(4px);
    background-color: var(--dark-color);
    border: 1px solid var(--light-color);
    color: var(--light-color);
  }
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
